* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(green, black);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact {
    margin-top: 100px;
    color: gold;
    text-transform: uppercase;

}
.contact h1 {
    font-size: 30px;
    line-height: 10px;
}

.contact h2 {
    font-size: 15px;

}