* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    @media(max-width: 600px)
}

body {
    font-family: 'Courier New', Courier, monospace;    
}

nav {
    background: red;
    display: flex;
    justify-content: center;
}

nav .mainMenu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: purple;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
    background: red;
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closemenu , .closemenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
 
nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

@media(max-width: 768px) {
  nav  .mainMenu{
        display: none;
    }
}

@media(min-width: 769px) {
    .hamicon {
        display: none;
    }
}

.icons i {
    display: inline-block;
    padding: 12px;
}



nav .mainMenu .closemenu {
     display: block;
     position: absolute;
     top: 20px;
     right: 20px;


}
nav .openMenu {
    display: block;

}

nav .mainMenu li a:hover {
     background: none; 
     color: pink;
     font-size: 1.5rem;

}

