* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: green;
}

.menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: cell;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line1 , .line2 , .line3 {
    width: 100%;
    height: 3px;
    background-color: blue;
    transition: all 0.8s;

}

.navbar {
    width: 300px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.change {
    right: 0;
}

.nav-list {
    text-align: right;

}

.nav-item {
    list-style: armenian;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 22px;
    color: gold;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;

}

.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: red;
    position: absolute;
    left: 0;
   
}

.change .line1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.change .line2 {
    opacity: 0;
}